@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Macondo', cursive;
}

/*----- utk bg create image ----*/
.header2{
	min-height: 17vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("background create1.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 90px;
}

/*--- Utk Header home semua tu ---*/
.nav-links{
	flex: 1;
	text-align: center;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 14px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 24px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.3s;
}
.nav-links ul li:hover::after{
	width: 100%;
}

/*---- Create pizza ----*/

body{
	width: 100%;
	height: 100vh;
}

.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 20px 100px;
}
.container:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("background create1.jpg") no-repeat center;
	background-size: cover;
	z-index: -1;
	filter: blur(15px);
}
.create-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.left{
	height: 100%;
	background: url("background create1.jpg") no-repeat center;
	background-size: cover;
}
.right{
	padding: 25px 40px;
}
h2{
	padding-bottom: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
h2:after{
	content: "";
	position: absolute;
	left: 80%;
	bottom: 0;
	transform: translateX(-50x);
	height: 4px;
	width: 50px;
	border-radius: 2px;
	background-color: #2ecc71;
}
.field{
	width: 100%;
	padding: 0.5rem 1rem;
	outline: none;
	border: 2px solid rgba(0,0,0,0);
	background-color: rgba(230, 230, 230, 0.6);
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: 0.3s;
}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
	background-color: #fff;
	border: 2px solid rgba(30, 85, 250, 0.47);
}
.area{
	min-height: 150px;
}
.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	background-color: #2ecc71;
	cursor: pointer;
	outline: none;
	border: none;
	color: #fff;
	transition: 0.3s;
}
.btn:hover{
	background-color: #27ae60;
}

/*---- Link ----*/

.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
.social-icon{
	color: #110070;
	transition: 0.3s;
	text-decoration: none;
	margin: 0 10px;
}
.social-icon:hover{
	color: #6A6A6A;
}



